@model EACUniformsDS3.Models.Order


@{
    ViewBag.Title = "Multi";
}
<h3> Please select supplier</h3>


@using (Html.BeginForm("Multi", "Order", new { supplier = Session["Sup"], FormMethod.Post }))
{

    @Html.DropDownList("Supplier", new SelectList(EACUniformsDS3.Controllers.SupplierController.GetDropDownSuppliers(), "Value", "Text", @Session["sup"]), new { onchange = "form.submit();" })
    

     
    if (Session["orderid"] != null)
    {
        Model.OrderId = Convert.ToInt32(Session["orderid"]);

    }
}
@Html.Action("_GetOrderItems", "Order")

